.idea/
sim/out/
__pycache__
.ipynb_checkpoints
botify/log/*
botify/data/*.json
!botify/data/tracks.json
!botify/data/reward_ml_reranker.json
.DS_Store
.venv* 
ab_data*
hw2

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
