.idea/
sim/out/
__pycache__
.ipynb_checkpoints
botify/log/*
botify/data/*.json
!botify/data/tracks.json
.DS_Store

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm

data_ab/
train_logs/
ab_result.json
botify_logs.tar.gz
botify_log_2.tar.gz
botify/my_ranker_bundle.joblib
train_my_ranker.py
